@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply pb-4 text-28 font-semibold text-darkGrayishBlue md:text-4xl;
  }

  h3 {
    @apply text-2xl font-semibold text-darkGrayishBlue;
  }
}

body {
    background-image: url('/images/bg-header-desktop.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

@media (max-width: 376px) {
    body {
        background-image: url('/images/bg-header-mobile.png');
    }
}

.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
    brightness(101%) contrast(94%);
}