@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.h2-style {
    @apply pb-4 text-28 font-semibold text-darkGrayishBlue md:text-4xl;
}

.h3-style {
    @apply text-2xl font-semibold text-darkGrayishBlue;
}

body {
    background-image: url('/images/bg-header-desktop.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

@media (max-width: 376px) {
    body {
        background-image: url('/images/bg-header-mobile.png');
    }
}